#main_container{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#box{
  background-color: rgba(224, 51, 51, 0.2);
  height: 300px;
  width: 300px;
  padding-left: 50px;
  padding-top: 100px;
  border-radius: 40px;
  border: rgba(224, 51, 51, 0.1) solid;
}

 
 
button{
  display: inline-block;
  background: #e47907;
  color: #FFC75F;
  width: 120px;
  font-size: 80px;
  height: 120px;
  line-height: 120px;
  border-radius: 100%;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  box-shadow: inset 0px 3px ;
  font-weight: bold;
  border-bottom: solid 3px #FFC75F;
  text-shadow: 1px 1px 1px #FFC75F;
  transition: .4s;
  cursor:cell;
}
button:active{
  -ms-transform: translateY(1px);
  -webkit-transform: translateY(1px);
  transform: translateY(1px);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.35);
  border-bottom: none;
}
h2{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 25px;
  color: rgb(49, 8, 8);
  width: 55px;
  padding-left: 20px;
  border: 5px ridge #e47907;
  background-image: radial-gradient(circle, #ffc13b, #ffb939, #ffb037, #ffa836, #ff9f36, #ff8749, #fa735b, #ec626b, #c05484, #85508a, #4a4a7a);
  border-radius: 40px;
  margin-left: 72px;
}
h1{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 60px;
  color: rgb(122, 25, 25);
  padding-bottom: 50px;
  background-color: rgba(224, 51, 51, 0.2);
  height: 20px;
  width: 400px;
  padding-left: 150px;
  border-radius: 50px;
}
h6{
  padding-left: 200px;
  color: brown;
}